// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//layout application.html.erb
.button {
  font-size: 1em;
  color: blue;
}

.navi{
  color: lightgreen;
  text-align: right;
  margin-right: 50px;
  margin-top: 30px;
}

// links styling
a {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: pink;
}

//events index.html styling
body{
  margin: 0;
  background-image: image-url("blackboard.png");
  background-image: image-url("hero-000.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Cabin Sketch', cursive;
}

h1{
  text-align: center;
  color: #ffffff;
  font-size: 100px;
}

h2{
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}

h3{
  text-align: center;
  font-size: 25px;
  color: rgb(249, 0, 0)
}

h5{
  color: lightgreen;
  font-size: 20px;
  margin-bottom: -1px;
}

.description{
  margin-top: -20px;
}

.feed{
  text-align: center;
  color: #ffffff;
  font-size: 33px;
}

.name{
  color: rgba(35, 79, 233, 0.87);
}

.reason{
  color: rgba(#90ed88, 0.88);
}

// events new.html & edit.html styling

.new_form{
  text-align: center;
  font-size: 33px;
  color: #ffffff;
}

.back{
  text-align: center;
  font-size: 25px;
}

.text-box{
  background-color: white;
  color: black;
}
// event show.html styling

.event{
  text-align: center;
  font-size: 33px;
  color: #ffffff;
}

.comments{
  text-align: center;
}

//user styling

.users{
  text-align: center;
}

//alerts & notices
.alert{
  color: #ff0000;
  text-align: center;
  font-size: 25px;
}

.notice{
  color: #00ff00;
  text-align: center;
  font-size: 25px;
}
