<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Indie+Flower|Rock+Salt" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <title>You Owe Me</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
